        .info {
            display: flex;
            margin-top: 20px;
        }
        #tempid {
            width: 50%;
        }
        #countryinfo {
            width: 50%;
            height: fit-content;
            margin-top: auto;
            margin-bottom: auto;
        }
        #top {
            text-align: center;
            padding-bottom: 100px;
        }
        
        #heat_advisory {
            width: fit-content;
            margin: auto;
            margin-top: 20px;
            padding: 5px;
            background-color: red;
            padding: 10px;
            margin-bottom: 10px;
        }

        
        #cold_advisory {
            width: fit-content;
            margin: auto;
            margin-top: 20px;
            padding: 5px;
            background-color: orange;
            padding: 10px;
            margin-bottom: 10px;
        }

        #root {
            height: 100%;
            width: 80%;
            margin: auto;
        }

        button {
            width: fit-content;
            font-size: larger;
            background-color: green;
            color: white;
            cursor: pointer;
        }

        .refresh{
            font-size: xx-large;
            cursor: pointer;
            font-weight: bold;
        }
